<% content_for :stylesheets do %>
  <style>
    .result em{color:red;}
  </style>
<% end %>



<h2>搜索结果:</h2>
<br />
<div class="result">
<%@results.each_with_index do |result,index|%>
  <%=index+1%>,
  <%if result.highlight.to_hash[:title].present?%>
    标题：<%=result.highlight.to_hash[:title].first.html_safe%>
  <%end%>
  <%if result.highlight.to_hash[:description].present?%>
    描述：<%=result.highlight.to_hash[:description].first.html_safe%>
  <%end%>
  <br />
<%end%>
</div>
