/*body 全局 start*/
body{
  padding-top: 0px;
  color: #88818D;
  padding-bottom: 60px;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

a.light-start{
  color: #88818D !important;
}
a.light-start:hover, a.light-start:focus, .active a.light-start, .active a.light-start:hover, .active a.light-start:focus {
  color: #490058 !important;
}
a.dark-start{
  color: #490058 !important;
}
a.dark-start:hover, a.dark-start:focus, .active a.dark-start, .active a.dark-start:hover, .active a.dark-start:focus {
  color: #88818D !important;
}

/*body 全局 end*/

/****************分割线**********************/

/* margin padding start*/
.m-0{margin:0;}
.m-5{margin:5px;}
.mt-10{margin-top:10px;}
.mb-10{margin-bottom:10px;}
.ml-10{margin-left:10px;}
.mr-10{margin-right:10px;}
.mt-80{margin-top:50px;}
.p-0{padding:0;}
.p-5{padding:5px;}
.pt-10{padding-top:10px;}
.pb-10{padding-bottom:10px;}
.pl-10{padding-left:10px;}
.pr-10{padding-right:10px;}
/* margin padding end*/

/* vertical/text align start */
.va-t{vertical-align:top;}
.va-b{vertical-align:bottom;}
.va-m{vertical-align:middle;}
.ta-c{text-align:center;}
.ta-l{text-align:left}
.ta-r{text-align:right}
.ti-2{text-indent:2em;}
/* vertical/text align end */


/* color start */
.l-gray{color:#999;}
.d-gray{color:#666;}
.black{color:#000;}
.white{color:#fff;}
.blue{color:#ee0000;}
.orange{color:#ee0000;}
.red{color:#ee0000;}
.green{color:#beee77;}
.orange{color:#FF6D24}
/* color end */

/* float left*/
.fl{float:left;display:inline;}
.fr{float:right;display:inline;} 
/* float end*/

/****************分割线**********************/

/*导航 start*/
.navbar.navbar-inverse{
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,.2),0 0 4px rgba(0,0,0,.05);
}
.navbar .brand{
  padding-top: 0px;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  text-shadow: 0 1px 0 white;
}
.navbar .container {
  max-width: 1170px;
}
.navbar a{
  color: #88818D;
}
.navbar ul.nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;
  font-family: futura-pt,Avenir,Futura,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}
.navbar ul.nav > li > a:hover, .navbar ul.nav > li > a:focus, .navbar ul.nav > li.active > a, .navbar ul.nav > li.active > a:hover, .navbar ul.nav > li.active > a:focus, .navbar .navbar-text a:hover {
  border-bottom: 2px solid #490058;
  background-color: transparent;
  box-shadow: none;
  padding-bottom: 2px;
}
.navbar .navbar-form .input-append{
  padding-top: 10px;
}
.navbar .navbar-text{
  padding-top: 10px;
}
/*导航 end*/


/*normal page start*/

.container hr{
  margin: 60px 0;
}
.form-signin {        
  max-width: 400px;        
  padding: 19px 29px 29px;        
  margin: 0 auto 20px;        
  background-color: #fff;        
  border: 1px solid #e5e5e5;        
  -webkit-border-radius: 5px;           
  -moz-border-radius: 5px;                
  border-radius: 5px;        
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);           
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);                
  box-shadow: 0 1px 2px rgba(0,0,0,.05);      
} 

.form-signin input[type="text"],
.form-signin input[type="password"] {        
  font-size: 16px;        
  height: auto;        
  margin-bottom: 15px;        
  padding: 7px 9px;      
}


.store-text-error { /*参考bootstrap*/
  color: #b94a48;
}
/*normal page end*/


/*will_paginate 翻页 start*/
.pagination{
  clear:both;
}
/*will_paginate 翻页 end*/


/*loading start*/
.loading_box {
    background-color: #FFFF00;
    color: #444;
    padding: 3px 0;
    position: fixed;
    top: 0px;
    left: 50%;
    width: 135px;
    z-index: 999;
    display:none;
    opacity:.9;
    filter:alpha(opacity=90);
}
.loading_box span{
    display:block;
    background:url(/images/loading.gif) left center no-repeat;
    width:70px;
    margin:0 auto;
    font-size:14px;
    padding-left:25px;
}
/*loading end*/
