/* margin padding start*/
.m-0{margin:0;}
.m-5{margin:5px;}
.mt-10{margin-top:10px;}
.mb-10{margin-bottom:10px;}
.ml-10{margin-left:10px;}
.mr-10{margin-right:10px;}
.mt-80{margin-top:50px;}
.p-0{padding:0;}
.p-5{padding:5px;}
.pt-10{padding-top:10px;}
.pb-10{padding-bottom:10px;}
.pl-10{padding-left:10px;}
.pr-10{padding-right:10px;}
/* margin padding end*/

/* vertical/text align start */
.va-t{vertical-align:top;}
.va-b{vertical-align:bottom;}
.va-m{vertical-align:middle;}
.ta-c{text-align:center;}
.ta-l{text-align:left}
.ta-r{text-align:right}
.ti-2{text-indent:2em;}
/* vertical/text align end */


/* color start */
.l-gray{color:#999;}
.d-gray{color:#666;}
.black{color:#000;}
.white{color:#fff;}
.blue{color:#ee0000;}
.orange{color:#ee0000;}
.red{color:#ee0000;}
.green{color:#beee77;}
.orange{color:#FF6D24}
/* color end */

/* float left*/
.fl{float:left;display:inline;}
.fr{float:right;display:inline;} 
/* float end*/

/****************分割线**********************/


/*normal page start*/
body{
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #f5f5f5;
}

.container hr{
  margin: 60px 0;
}
.form-signin {        
  max-width: 400px;        
  padding: 19px 29px 29px;        
  margin: 0 auto 20px;        
  background-color: #fff;        
  border: 1px solid #e5e5e5;        
  -webkit-border-radius: 5px;           
  -moz-border-radius: 5px;                
  border-radius: 5px;        
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);           
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);                
  box-shadow: 0 1px 2px rgba(0,0,0,.05);      
} 

.form-signin input[type="text"],
.form-signin input[type="password"] {        
  font-size: 16px;        
  height: auto;        
  margin-bottom: 15px;        
  padding: 7px 9px;      
}

/*参考bootstrap*/
.store-text-error {
  color: #b94a48;
}

/*normal page end*/


/*will_paginate 翻页 start*/
.pagination{
  clear:both;
}
/*will_paginate 翻页 end*/
