<div class="mt-80 ta-c">
  <h1>这是哪里？</h1>
  <p class="lead">精品导购网站,欢迎您的访问.</p>
</div>

<hr>

<div class="row-fluid">
  <div class="span4">
    <h2>淘宝</h2>
    <p>中国深受欢迎的网购零售平台，目前拥有近5亿的注册用户数，每天有超过6000万的固定访客，同时每天的在 线商品数已经超过了8亿件，平均每分钟售出4.8万件商品。</p>
    <p><a class="btn" href="http://www.taobao.com">查看详情 »</a></p>
  </div>
  <div class="span4">
    <h2>京东</h2>
    <p>京东商城目前拥有遍及全国超过6000万注册用户，近万家供应商，在线销售家电、数码通讯、电脑、家居百货、服装服饰、母婴、图书、食品等12大类数万个品牌百万种优质商品，日订单处理量超过50万单，网站日均PV超过1亿。2010年，京东商城跃升为中国首家规模超过百亿的网络零售企业。</p>
    <p><a class="btn" href="http://www.jd.com/">查看详情 »</a></p>
  </div>
  <div class="span4">
    <h2>亚马逊 </h2>
    <p>一家“财富500强”公司，总部位于西雅图，成立于1995年7月，目前已成为全球商品种类最多的网上零售商。亚马逊致力于成为全球最“以客户为中心”的公司，使客户能在公司网站上找到和发现任何他们想在线购买的商品，并努力为客户提供最低的价格。</p>
    <p><a class="btn" href="http://www.amazon.cn">查看详情 »</a></p>
  </div>
</div>
