<% content_for :jquery do %>
  store.validateLoginForm();
<% end %>

<div>
  <% form_tag url(:account,:login_create),:class=>"form-signin",:id=>"login-form" do %>
    <h2 class="form-signin-heading mb-10">登录</h2>
    <%= text_field_tag :email,:class=>"input-large",:placeholder=>"邮箱" %>
    <%= password_field_tag :password,:class=>"input-large",:placeholder=>"密码" %>
    <br />
    <label class="checkbox mb-10">
      <input type="checkbox" name="remember_me" value="yes"> 记住我
    </label>
    <br />
    <%= submit_tag "登录",:class=>"btn btn-large btn-primary" %>
  <% end %>
</div>
