<% content_for :jquery do %>
  alert("1");
<% end %>

<div>
  <form class="form-signin">
    <h2 class="form-signin-heading mb-10">欢迎加入</h2>
    <input type="text" class="input-block-level" placeholder="邮箱">
    <input type="password" class="input-block-level" placeholder="密码">
    <label class="checkbox mb-10">
      <input type="checkbox" value="remember-me"> 记住我
    </label>
    <button class="btn btn-large btn-primary" type="submit">注册</button>
  </form>
</div>
