<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">管理后台</a>
    <ul class="nav">
      <li class="active"><a href="#">分类管理</a></li>
      <li><a href="#">推荐管理</a></li>
      <li><a href="http://shijue.me" target="_blank">晒单管理</a></li>
      <li><a href="http://shijue.me" target="_blank">会员管理</a></li>
    </ul>
  </div>
</div>
